.form{
   margin-left:2rem ;
    margin-top: 4rem;
}
.form label{
    margin-left: 5px;
    margin-right: 5px;
}

.form button {
    padding: 0.3rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
     margin-left: 10px;

  }